@{
	ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
@section Scripts{
	<script>
		$(function () {

			var code = localStorage.getItem('code');
			if (code == undefined || code == '') {
				location.href="@Url.Action("Index")"
			}
			console.log(code)

			$.ajax({
				type: "POST",
				url: 'http://localhost:5000/api/accountservice/info',
				xhrFields: {
					withCredentials: false // 设置运行跨域操作
				},
				contentType: 'application/x-www-form-urlencoded',
				dataType: 'json',
				headers: {
					'Authorization': 'Bearer ' + code,
				},
				success: function (data) {
					console.log(data);
					console.log(code)
				}
			});

		});
	</script>
}