<div class="modal-dialog">
	<!-- widget start -->
	<div class="widget-box widget-color-blue ui-sortable-handle">

		<div class="widget-header">
			<h4 class="widget-title lighter">编辑角色</h4>
			<div class="widget-toolbar no-border">
				<a href="#" data-action="close" data-dismiss="modal">
					<i class="ace-icon fa fa-times"></i>
				</a>
			</div>
		</div>

		<div class="widget-body">
			<div class="widget-main">
				<form class="form-horizontal" role="form" action="@Url.Action("Edit","User")" id="form">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 角色名称</label>

						<div class="col-sm-9">
							<input type="text" id="RoleName" name="RoleName" placeholder="填写角色名称" class="col-xs-10" minlength="5">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 角色描述</label>

						<div class="col-sm-9">
							<input type="text" id="Description" name="Description" placeholder="RealName" class="col-xs-10">
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check "></i>
								提交
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="ace-icon fa fa-undo"></i>
								取消
							</button>
						</div>
					</div>
				</form>
			</div>

		</div>

	</div>
	<!-- widget end -->
</div>
<script>
	$(function () {

		ajaxSubmitForm($('#form'),
			{
				code: checkCode(urls.login),
				dataUrl: urls.editRole,
				afterSuccess(data) {
					alert(data.msg);
					$('#firstModal').modal('hide');
					//$('datatable').reload
				}
			});

	});
</script>