	@model Guid
<div class="modal-dialog">
	<!-- widget start -->
	<div class="widget-box widget-color-blue ui-sortable-handle">

		<div class="widget-header">
			<h4 class="widget-title lighter">编辑角色</h4>
			<div class="widget-toolbar no-border">
				<a href="#" data-action="close" data-dismiss="modal">
					<i class="ace-icon fa fa-times"></i>
				</a>
			</div>
		</div>

		<div class="widget-body">
			<div class="widget-main">
				<form class="form-horizontal" role="form" id="form">
					<input type="hidden" id="Id" name="Id" value="@Model" />
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 角色名称</label>

						<div class="col-sm-9">
							<input type="text" id="RoleName" name="RoleName" placeholder="填写角色名称" class="col-xs-10" minlength="5" maxlength="20">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 角色描述</label>

						<div class="col-sm-9">
							<input type="text" id="Description" name="Description" placeholder="RealName" class="col-xs-10" maxlength="200">
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info btn-submit" type="submit">
								<i class="ace-icon fa fa-check "></i>
								提交
							</button>

							&nbsp; &nbsp; &nbsp;
							<a class="btn btn-cancel" data-action="close" data-dismiss="modal">
								<i class="ace-icon fa fa-close"></i>
								取消
							</a>
						</div>
					</div>
				</form>
			</div>

		</div>

	</div>
	<!-- widget end -->
</div>
<script>
	$(function () {

		var code = checkCode(urls.login);

		var roleId = '@Model';
		if (roleId != '@Guid.Empty') {
			$('.btn-submit').attr('disabled', 'disabled');
			var ajax = ajaxRequset(urls.roleInfo, code, urls.login, { id: roleId }, function (data) {
				$('#RoleName').val(data.data.roleName);
				$('#Description').val(data.data.description);
				$('.btn-submit').removeAttr('disabled');
			});

			$.ajax(ajax);
		}

		$('#form').attr('action', urls.editRole);

		ajaxSubmitForm($('#form'),
			{
				code: code,
				dataUrl: urls.editRole,
				afterSuccess(data) {
					$('#firstModal').modal('hide');
					refreshTable('#table');
				}
			});

	});
</script>