@model Guid
<div class="modal-dialog">
	<!-- widget start -->
	<div class="widget-box widget-color-blue ui-sortable-handle">

		<div class="widget-header">
			<h4 class="widget-title lighter">新增用户</h4>
			<div class="widget-toolbar no-border">
				<a href="#" data-action="close" data-dismiss="modal">
					<i class="ace-icon fa fa-times"></i>
				</a>
			</div>
		</div>

		<div class="widget-body">
			<div class="widget-main">
				<form class="form-horizontal" role="form"  id="form">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 用户名</label>

						<div class="col-sm-9">
							<input type="text" id="UserName" name="UserName" placeholder="UserName" class="col-xs-10" minlength="5">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 真实姓名</label>

						<div class="col-sm-9">
							<input type="text" id="RealName" name="RealName" placeholder="RealName" class="col-xs-10">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 邮箱</label>

						<div class="col-sm-9">
							<input type="text" id="Email" name="Email" placeholder="Email" class="col-xs-10">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 电话</label>

						<div class="col-sm-9">
							<input type="text" id="Phone" name="Phone" placeholder="Phone" class="col-xs-10">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info btn-submit" type="submit">
								<i class="ace-icon fa fa-check "></i>
								提交
							</button>

							&nbsp; &nbsp; &nbsp;
							<a class="btn btn-cancel" data-action="close" data-dismiss="modal">
								<i class="ace-icon fa fa-close"></i>
								取消
							</a>
						</div>
					</div>
				</form>
			</div>

		</div>

	</div>
	<!-- widget end -->
</div>
<script>
	$(function () {

		var code = checkCode(urls.login);

		var userId = '@Model';
		if (userId != '@Guid.Empty') {
			$('.btn-submit').attr('disabled', 'disabled');
			var ajax = ajaxRequset(urls.userInfo, code, urls.login, { id: userId }, function (data) {
				console.log(data.data);
				$('.btn-submit').removeAttr('disabled');
				$('#UserName').val(data.data.userName);
				$('#RealName').val(data.data.realName);
				$('#Email').val(data.data.email);
				$('#Phone').val(data.data.phone);
			});

			$.ajax(ajax);
		}

		$('#form').attr('action', urls.editUser);

		ajaxSubmitForm($('#form'),
			{
				code: checkCode(urls.login),
				afterSuccess(data) {
					$('#firstModal').modal('hide');
					refreshTable('#dynamic-table')
				}
			});

	});
</script>