@model Guid
<div class="modal-dialog">
	<!-- widget start -->
	<div class="widget-box widget-color-blue ui-sortable-handle">

		<div class="widget-header">
			<h4 class="widget-title lighter">编辑用户</h4>
			<div class="widget-toolbar no-border">
				<a href="#" data-action="close" data-dismiss="modal">
					<i class="ace-icon fa fa-times"></i>
				</a>
			</div>
		</div>

		<div class="widget-body">
			<div class="widget-main">
				<form action="" class="dropzone cover hidden"></form>
				<form class="form-horizontal" role="form" id="form">
					<input type="hidden" id="Id" name="Id" value="@Model" />
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 用户名</label>

						<div class="col-sm-9">
							<input type="text" id="UserName" name="UserName" placeholder="UserName" class="col-xs-10" minlength="5">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 真实姓名</label>

						<div class="col-sm-9">
							<input type="text" id="RealName" name="RealName" placeholder="RealName" class="col-xs-10">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 邮箱</label>

						<div class="col-sm-9">
							<input type="text" id="Email" name="Email" placeholder="Email" class="col-xs-10">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 电话</label>

						<div class="col-sm-9">
							<input type="text" id="Phone" name="Phone" placeholder="Phone" class="col-xs-10">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 头像</label>

						<div class="col-sm-9">
							<div id="showCover" title="点击选择头像" class="cover-bg">
								<span>点击选择头像</span>
								<img class="cover-img hidden" />
							</div>
						</div>
						<input type="hidden" id="HeaderImagePath" name="HeaderImagePath" />
					</div>
					<div class="form-group">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info btn-submit" type="submit">
								<i class="ace-icon fa fa-check "></i>
								提交
							</button>

							&nbsp; &nbsp; &nbsp;
							<a class="btn btn-cancel" data-action="close" data-dismiss="modal">
								<i class="ace-icon fa fa-close"></i>
								取消
							</a>
						</div>
					</div>
				</form>
			</div>

		</div>

	</div>
	<!-- widget end -->
</div>

<script src="~/plugins/dropzone-4.0.0/dropzone.js"></script>
<script>
	$(function () {

		var code = checkCode(urls.login);

		var userId = '@Model';
		if (userId != '@Guid.Empty') {
			$('.btn-submit').attr('disabled', 'disabled');
			var ajax = ajaxRequset(urls.userInfo, code, urls.login, { id: userId }, function (data) {
				console.log(data.data);
				$('.btn-submit').removeAttr('disabled');
				$('#Id').val(userId);
				$('#UserName').val(data.data.userName);
				$('#RealName').val(data.data.realName);
				$('#Email').val(data.data.email);
				$('#Phone').val(data.data.phone);

				var path = data.data.headerImagePath
				$('#HeaderImagePath').val(path);
				showCover(path);
			});

			$.ajax(ajax);
		}

		$('#form').attr('action', urls.editUser);

		ajaxSubmitForm($('#form'),
			{
				code: code,
				afterSuccess(data) {
					$('#firstModal').modal('hide');
					refreshTable('#dynamic-table')
				}
			});

		$('.dropzone.cover').dropzone({
			url: urls.fileUpload,
			addRemoveLinks: !0,
			maxFiles: 100,
			acceptedFiles: "image/*",
			dictResponseError: "File Upload Error.",
			init: function () {
				this.on("success", function (file, data) {
					$("#CoverPath").val(data.path);
					$('#HeaderImagePath').val(data.path);

					showCover(data.path);
				});
				this.on("error", function (file, message) {
					alert(message)
				});
			}
		});

		$('#showCover').on('click', function () {
			$('.dropzone').trigger('click');
		});

	});

	function showCover(path) {
		if (path && path != '') {
			var path = apiDomain + '/api' + path;
			$("#showCover").remove('.cover-img').html('<img src="' + path + '" class="cover-img" />');
		}
	}
</script>