@model Guid
<div class="modal-dialog">
	<!-- widget start -->
	<div class="widget-box widget-color-blue ui-sortable-handle">

		<div class="widget-header">
			<h4 class="widget-title lighter">绑定角色</h4>
			<div class="widget-toolbar no-border">
				<a href="#" data-action="close" data-dismiss="modal">
					<i class="ace-icon fa fa-times"></i>
				</a>
			</div>
		</div>

		<div class="widget-body">
			<div class="widget-main">

				<h3 class="header smaller lighter blue">
					admin
					@*<small>admin</small>*@
				</h3>
				<div class="row checkboxList">

					@*<div class="control-group col-md-4">

							<div class="checkbox">
								<label class="block">
									<input name="form-field-checkbox" type="checkbox" class="ace input ace-checkbox-2">
									<span class="lbl">系统管理员</span>
								</label>
							</div>

							<div class="checkbox">
								<label class="block">
									<input name="form-field-checkbox" type="checkbox" class="ace input ace-checkbox-2">
									<span class="lbl">微服务配置管理员</span>
								</label>
							</div>

							<div class="checkbox">
								<label class="block">
									<input name="form-field-checkbox" type="checkbox" class="ace input ace-checkbox-2">
									<span class="lbl"> large checkbox</span>
								</label>
							</div>

							<div class="checkbox">
								<label class="block">
									<input name="form-field-checkbox" type="checkbox" class="ace input ace-checkbox-2">
									<span class="lbl"> large checkbox</span>
								</label>
							</div>
						</div>

						<div class="control-group col-md-4">

							<div class="checkbox">
								<label class="block">
									<input name="form-field-checkbox" type="checkbox" class="ace input ace-checkbox-2">
									<span class="lbl">系统管理员</span>
								</label>
							</div>

							<div class="checkbox">
								<label class="block">
									<input name="form-field-checkbox" type="checkbox" class="ace input ace-checkbox-2">
									<span class="lbl">微服务配置管理员</span>
								</label>
							</div>

							<div class="checkbox">
								<label class="block">
									<input name="form-field-checkbox" type="checkbox" class="ace input ace-checkbox-2">
									<span class="lbl"> large checkbox</span>
								</label>
							</div>

							<div class="checkbox"><label class="block"><input name="form-field-checkbox" type="checkbox" checked="checked" class="ace input ace-checkbox-2"><span class="lbl"> large checkbox</span></label></div>

						</div>*@




				</div>

				<div class="row">
					<div class="col-md-12">
						<button class="btn btn-success pull-right btn-bind">
							<i class="ace-icon fa fa-check"></i>
							绑定
						</button>
					</div>
				</div>

			</div>
		</div>

	</div>
	<!-- widget end -->
</div>
<script>
	$(function () {

		var code = checkCode(urls.login);
		var ajax = ajaxRequset(urls.getRolesByUserId, code, urls.login, { userId: '@Model' }, function (data) {
			checkboxList(data.data);
		});
		$.ajax(ajax);

		$('.btn-bind').on('click', function () {
			var $checkboxList = $('.checkboxList').find('input[type="checkbox"]');
			var checkValues = [];
			$checkboxList.each(function (i) {
				var $this = $(this);
				if ($this.is(':checked')) {
					checkValues.push($this.data('id'));
				}
			});
			var roleIds = checkValues.join(',');
			console.log(roleIds);
			var ajax = ajaxRequset(urls.bindRole, code, urls.login, { userId: '@Model', roleIds: roleIds }, function (data) {
				$('#firstModal').modal('hide');
			});
			$.ajax(ajax);
		});

	});

	function checkboxList(data) {
		$('.checkboxList').html('');
		var colIndex = -1;
		$(data).each(function (i) {
			var m = this;
			var $checkbox = $('<div class="checkbox"><label class="block"><input name="form-field-checkbox" type="checkbox" {1} {2} class="ace input ace-checkbox-2"><span class="lbl">&nbsp;{0}</span></label></div>'.format(m.name, m.isChecked ? 'checked="checked"' : '','data-id='+m.id))
			$subList = $('<div class="control-group col-md-4"></div>');
			if (i % 4 == 0) {
				$('.checkboxList').append($subList);
				colIndex++;
			}
			else {
				$subList = $('.checkboxList').children().eq(colIndex);
			}

			$subList.append($checkbox);
		});
	}
</script>