@{
	Layout = "~/Views/Shared/_studioLayout.cshtml";
	ViewData["Title"] = "个人空间";
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">首页</a>
		</li>

		<li>
			<i class="ace-icon fa fa-user home-icon"></i>
			<a href="active">个人空间</a>
		</li>

	</ul><!-- /.breadcrumb -->


</div>

<div class="page-content">

	<div class="ace-settings-container" id="ace-settings-container">
		<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
			<i class="ace-icon fa fa-cog bigger-130"></i>
		</div>


	</div><!-- /.ace-settings-container -->

	<div class="page-header">
		<h1>
			个人空间
		</h1>
	</div><!-- /.page-header -->

	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->

			<div class="">
				<div id="user-profile-2" class="user-profile">
					<div class="tabbable">
						<ul class="nav nav-tabs padding-18">
							<li class="active">
								<a data-toggle="tab" href="#home" aria-expanded="true">
									<i class="green ace-icon fa fa-user bigger-120"></i>
									用户信息
								</a>
							</li>
							<li class="">
								<a data-toggle="tab" href="#friends" aria-expanded="false">
									<i class="blue ace-icon fa fa-users bigger-120"></i>
									好友
								</a>
							</li>
							<li>
								<a data-toggle="tab" href="#feed">
									<i class="orange ace-icon fa fa-rss bigger-120"></i>
									好友动态
								</a>
							</li>

						</ul>

						<div class="tab-content no-border padding-24">
							<div id="home" class="tab-pane active">
								<div class="row">
									<div class="col-xs-12 col-sm-3 center">
										<span class="profile-picture">
											<img class="editable img-responsive cover" alt="Alex's Avatar" id="avatar2">
										</span>

										<div class="space space-4"></div>
										<a href="#" class="btn btn-sm btn-block btn-danger btn-edit">
											<i class="ace-icon fa fa-pencil bigger-110"></i>
											<span class="bigger-110">编辑个人信息</span>
										</a>
										<a href="#" class="btn btn-sm btn-block btn-success btn-password">
												<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
												<span class="bigger-110">修改密码</span>
											</a>

										@*<a href="#" class="btn btn-sm btn-block btn-primary">
												<i class="ace-icon fa fa-envelope-o bigger-110"></i>
												<span class="bigger-110">发送消息</span>
											</a>*@
									</div>
									<div class="col-xs-12 col-sm-9">
										<h4 class="blue">
											<span class="middle realName"></span>

											<span class="label label-purple arrowed-in-right">
												<i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
												在线
											</span>
										</h4>

										<div class="profile-user-info">
											<div class="profile-info-row">
												<div class="profile-info-name"> 用户名 (账号) </div>

												<div class="profile-info-value">
													<span class="userName"></span>
												</div>
											</div>

											<div class="profile-info-row">
												<div class="profile-info-name"> 性别 </div>

												<div class="profile-info-value">
													<i class="fa fa-map-marker light-orange bigger-110"></i>
													<span>女</span>
												</div>
											</div>

											<div class="profile-info-row">
												<div class="profile-info-name"> 真实姓名</div>

												<div class="profile-info-value">
													<span class="realName"></span>
												</div>
											</div>

											<div class="profile-info-row">
												<div class="profile-info-name"> 手机 </div>

												<div class="profile-info-value">
													<span class="Phone"></span>
												</div>
											</div>

											<div class="profile-info-row">
												<div class="profile-info-name"> 邮箱 </div>

												<div class="profile-info-value">
													<span class="email"></span>
												</div>
											</div>
										</div>

										<div class="hr hr-8 dotted"></div>

										<div class="profile-user-info">
											<div class="profile-info-row">
												<div class="profile-info-name"> 个人站点 </div>

												<div class="profile-info-value">
													<a href="#" target="_blank">www.alexdoe.com</a>
												</div>
											</div>

											<div class="profile-info-row">
												<div class="profile-info-name">
													<i class="middle ace-icon fa fa-facebook-square bigger-150 blue"></i>
												</div>

												<div class="profile-info-value">
													<a href="#">Find me on Facebook</a>
												</div>
											</div>

											<div class="profile-info-row">
												<div class="profile-info-name">
													<i class="middle ace-icon fa fa-twitter-square bigger-150 light-blue"></i>
												</div>

												<div class="profile-info-value">
													<a href="#">Follow me on Twitter</a>
												</div>
											</div>
										</div>
									</div><!-- /.col -->
								</div><!-- /.row -->

								<div class="space-20"></div>

							</div><!-- /#home -->

							<div id="feed" class="tab-pane">
								<div class="profile-feed row">
									<div class="col-sm-6">
										<div class="profile-activity clearfix">
											<div>
												<img class="pull-left" alt="Alex Doe's avatar" src="assets/images/avatars/avatar5.png">
												<a class="user" href="#"> Alex Doe </a>
												changed his profile photo.
												<a href="#">Take a look</a>

												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i>
													an hour ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>

										<div class="profile-activity clearfix">
											<div>
												<img class="pull-left" alt="Susan Smith's avatar" src="assets/images/avatars/avatar1.png">
												<a class="user" href="#"> Susan Smith </a>

												is now friends with Alex Doe.
												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i>
													2 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>

										<div class="profile-activity clearfix">
											<div>
												<i class="pull-left thumbicon fa fa-check btn-success no-hover"></i>
												<a class="user" href="#"> Alex Doe </a>
												joined
												<a href="#">Country Music</a>

												group.
												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i>
													5 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>

										<div class="profile-activity clearfix">
											<div>
												<i class="pull-left thumbicon fa fa-picture-o btn-info no-hover"></i>
												<a class="user" href="#"> Alex Doe </a>
												uploaded a new photo.
												<a href="#">Take a look</a>

												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i>
													5 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>

										<div class="profile-activity clearfix">
											<div>
												<img class="pull-left" alt="David Palms's avatar" src="assets/images/avatars/avatar4.png">
												<a class="user" href="#"> David Palms </a>

												left a comment on Alex's wall.
												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i>
													8 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>
									</div><!-- /.col -->

									<div class="col-sm-6">
										<div class="profile-activity clearfix">
											<div>
												<i class="pull-left thumbicon fa fa-pencil-square-o btn-pink no-hover"></i>
												<a class="user" href="#"> Alex Doe </a>
												published a new blog post.
												<a href="#">Read now</a>

												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i>
													11 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>

										<div class="profile-activity clearfix">
											<div>
												<img class="pull-left" alt="Alex Doe's avatar" src="assets/images/avatars/avatar5.png">
												<a class="user" href="#"> Alex Doe </a>

												upgraded his skills.
												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i>
													12 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>

										<div class="profile-activity clearfix">
											<div>
												<i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
												<a class="user" href="#"> Alex Doe </a>

												logged in.
												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i>
													12 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>

										<div class="profile-activity clearfix">
											<div>
												<i class="pull-left thumbicon fa fa-power-off btn-inverse no-hover"></i>
												<a class="user" href="#"> Alex Doe </a>

												logged out.
												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i>
													16 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>

										<div class="profile-activity clearfix">
											<div>
												<i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
												<a class="user" href="#"> Alex Doe </a>

												logged in.
												<div class="time">
													<i class="ace-icon fa fa-clock-o bigger-110"></i>
													16 hours ago
												</div>
											</div>

											<div class="tools action-buttons">
												<a href="#" class="blue">
													<i class="ace-icon fa fa-pencil bigger-125"></i>
												</a>

												<a href="#" class="red">
													<i class="ace-icon fa fa-times bigger-125"></i>
												</a>
											</div>
										</div>
									</div><!-- /.col -->
								</div><!-- /.row -->

								<div class="space-12"></div>

								<div class="center">
									<button type="button" class="btn btn-sm btn-primary btn-white btn-round">
										<i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
										<span class="bigger-110">View more activities</span>

										<i class="icon-on-right ace-icon fa fa-arrow-right"></i>
									</button>
								</div>
							</div><!-- /#feed -->

							<div id="friends" class="tab-pane">
								<div class="profile-users clearfix">
									<div class="itemdiv memberdiv">
										<div class="inline pos-rel">
											<div class="user">
												<a href="#">
													<img src="assets/images/avatars/avatar4.png" alt="Bob Doe's avatar">
												</a>
											</div>

											<div class="body">
												<div class="name">
													<a href="#">
														<span class="user-status status-online"></span>
														Bob Doe
													</a>
												</div>
											</div>

											<div class="popover">
												<div class="arrow"></div>

												<div class="popover-content">
													<div class="bolder">Content Editor</div>

													<div class="time">
														<i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
														<span class="green"> 20 mins ago </span>
													</div>

													<div class="hr dotted hr-8"></div>

													<div class="tools action-buttons">
														<a href="#">
															<i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
														</a>

														<a href="#">
															<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
														</a>

														<a href="#">
															<i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="itemdiv memberdiv">
										<div class="inline pos-rel">
											<div class="user">
												<a href="#">
													<img src="assets/images/avatars/avatar1.png" alt="Rose Doe's avatar">
												</a>
											</div>

											<div class="body">
												<div class="name">
													<a href="#">
														<span class="user-status status-offline"></span>
														Rose Doe
													</a>
												</div>
											</div>

											<div class="popover">
												<div class="arrow"></div>

												<div class="popover-content">
													<div class="bolder">Graphic Designer</div>

													<div class="time">
														<i class="ace-icon fa fa-clock-o middle bigger-120 grey"></i>
														<span class="grey"> 30 min ago </span>
													</div>

													<div class="hr dotted hr-8"></div>

													<div class="tools action-buttons">
														<a href="#">
															<i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
														</a>

														<a href="#">
															<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
														</a>

														<a href="#">
															<i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="itemdiv memberdiv">
										<div class="inline pos-rel">
											<div class="user">
												<a href="#">
													<img src="assets/images/avatars/avatar.png" alt="Jim Doe's avatar">
												</a>
											</div>

											<div class="body">
												<div class="name">
													<a href="#">
														<span class="user-status status-busy"></span>
														Jim Doe
													</a>
												</div>
											</div>

											<div class="popover">
												<div class="arrow"></div>

												<div class="popover-content">
													<div class="bolder">SEO &amp; Advertising</div>

													<div class="time">
														<i class="ace-icon fa fa-clock-o middle bigger-120 red"></i>
														<span class="grey"> 1 hour ago </span>
													</div>

													<div class="hr dotted hr-8"></div>

													<div class="tools action-buttons">
														<a href="#">
															<i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
														</a>

														<a href="#">
															<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
														</a>

														<a href="#">
															<i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="itemdiv memberdiv">
										<div class="inline pos-rel">
											<div class="user">
												<a href="#">
													<img src="assets/images/avatars/avatar5.png" alt="Alex Doe's avatar">
												</a>
											</div>

											<div class="body">
												<div class="name">
													<a href="#">
														<span class="user-status status-idle"></span>
														Alex Doe
													</a>
												</div>
											</div>

											<div class="popover">
												<div class="arrow"></div>

												<div class="popover-content">
													<div class="bolder">Marketing</div>

													<div class="time">
														<i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
														<span class=""> 40 minutes idle </span>
													</div>

													<div class="hr dotted hr-8"></div>

													<div class="tools action-buttons">
														<a href="#">
															<i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
														</a>

														<a href="#">
															<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
														</a>

														<a href="#">
															<i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="itemdiv memberdiv">
										<div class="inline pos-rel">
											<div class="user">
												<a href="#">
													<img src="assets/images/avatars/avatar2.png" alt="Phil Doe's avatar">
												</a>
											</div>

											<div class="body">
												<div class="name">
													<a href="#">
														<span class="user-status status-online"></span>
														Phil Doe
													</a>
												</div>
											</div>

											<div class="popover">
												<div class="arrow"></div>

												<div class="popover-content">
													<div class="bolder">Public Relations</div>

													<div class="time">
														<i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
														<span class="green"> 2 hours ago </span>
													</div>

													<div class="hr dotted hr-8"></div>

													<div class="tools action-buttons">
														<a href="#">
															<i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
														</a>

														<a href="#">
															<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
														</a>

														<a href="#">
															<i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="itemdiv memberdiv">
										<div class="inline pos-rel">
											<div class="user">
												<a href="#">
													<img src="assets/images/avatars/avatar3.png" alt="Susan Doe's avatar">
												</a>
											</div>

											<div class="body">
												<div class="name">
													<a href="#">
														<span class="user-status status-online"></span>
														Susan Doe
													</a>
												</div>
											</div>

											<div class="popover">
												<div class="arrow"></div>

												<div class="popover-content">
													<div class="bolder">HR Management</div>

													<div class="time">
														<i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
														<span class="green"> 20 mins ago </span>
													</div>

													<div class="hr dotted hr-8"></div>

													<div class="tools action-buttons">
														<a href="#">
															<i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
														</a>

														<a href="#">
															<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
														</a>

														<a href="#">
															<i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="itemdiv memberdiv">
										<div class="inline pos-rel">
											<div class="user">
												<a href="#">
													<img src="assets/images/avatars/avatar1.png" alt="Jennifer Doe's avatar">
												</a>
											</div>

											<div class="body">
												<div class="name">
													<a href="#">
														<span class="user-status status-offline"></span>
														Jennifer Doe
													</a>
												</div>
											</div>

											<div class="popover">
												<div class="arrow"></div>

												<div class="popover-content">
													<div class="bolder">Graphic Designer</div>

													<div class="time">
														<i class="ace-icon fa fa-clock-o middle bigger-120 grey"></i>
														<span class="grey"> 2 hours ago </span>
													</div>

													<div class="hr dotted hr-8"></div>

													<div class="tools action-buttons">
														<a href="#">
															<i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
														</a>

														<a href="#">
															<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
														</a>

														<a href="#">
															<i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="itemdiv memberdiv">
										<div class="inline pos-rel">
											<div class="user">
												<a href="#">
													<img src="assets/images/avatars/avatar3.png" alt="Alexa Doe's avatar">
												</a>
											</div>

											<div class="body">
												<div class="name">
													<a href="#">
														<span class="user-status status-offline"></span>
														Alexa Doe
													</a>
												</div>
											</div>

											<div class="popover">
												<div class="arrow"></div>

												<div class="popover-content">
													<div class="bolder">Accounting</div>

													<div class="time">
														<i class="ace-icon fa fa-clock-o middle bigger-120 grey"></i>
														<span class="grey"> 4 hours ago </span>
													</div>

													<div class="hr dotted hr-8"></div>

													<div class="tools action-buttons">
														<a href="#">
															<i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
														</a>

														<a href="#">
															<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
														</a>

														<a href="#">
															<i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="hr hr10 hr-double"></div>

								<ul class="pager pull-right">
									<li class="previous disabled">
										<a href="#">← Prev</a>
									</li>

									<li class="next">
										<a href="#">Next →</a>
									</li>
								</ul>
							</div><!-- /#friends -->

						</div>
					</div>
				</div>
			</div>

			<!-- PAGE CONTENT ENDS -->
		</div><!-- /.col -->
	</div><!-- /.row -->

</div><!-- /.page-content -->
@section Modals{
	<button class="btn hidden" id="modalProxy" data-toggle="ajax-modal" data-target="#firstModal"></button>
	<div class="modal fade" id="firstModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="firstModalLabel"></div>
}

@section Scripts{
	<script>
		$(function () {

			var userId = '@Model';
			if (userId != '@Guid.Empty') {
				var getInfoRequest = ajaxRequset(urls.userInfo, code, urls.login, { id: userId }, function (data) {
					$('.userName').html(data.data.userName);
					$('.realName').html(data.data.realName);
					$('.email').html(data.data.email);
					$('.phone').html(data.data.phone);

					var path = apiDomain + '/api' + data.data.headerImagePath;
					$('.cover').attr('src',path);
		
					$('.btn-edit').on('click', function () {
						$('#modalProxy').data('url', urls.userEditPage.format(userId)).trigger('click');
					});

					$('.btn-password').on('click', function () {
						alert(userId);
						$('#modalProxy').data('url', urls.changePasswordPage.format(userId)).trigger('click');
					});
				});

				$.ajax(getInfoRequest);


				var getFriendRequest = ajaxRequset('', code, urls.login, {}, function () {
					var friendsItem=''
				});

				// $.ajax(getFriendRequest);

				var friendActivityFeedRequest = ajaxRequset('', code, urls.login, {}, function () { });			

				var friendItem = '<div class="itemdiv memberdiv">' +
					'<div class="inline pos-rel">' +
					'<div class="user">' +
					'<a href="#">' +
					'<img src="assets/images/avatars/avatar1.png" alt="Rose Doe avatar">' +
					'</a>' +
					'</div>' +
					'<div class="body">' +
					'<div class="name">' +
					'<a href="#">' +
					'<span class="user-status status-offline"></span>' +
					'Rose Doe' +
					'</a>' +
					'</div>' +
					'</div>' +
					'<div class="popover right">' +
					'<div class="arrow"></div>' +
					'<div class="popover-content">' +
					'<div class="bolder">Graphic Designer</div>' +
					'<div class="time">' +
					'<i class="ace-icon fa fa-clock-o middle bigger-120 grey"></i>' +
					'<span class="grey"> 30 min ago </span>' +
					'</div>' +
					'<div class="hr dotted hr-8"></div>' +
					'<div class="tools action-buttons">' +
					'<a href="#">' +
					'<i class="ace-icon fa fa-facebook-square blue bigger-150"></i>' +
					'</a>' +
					'<a href="#">' +
					'<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>' +
					'</a>' +
					'<a href="#">' +
					'<i class="ace-icon fa fa-google-plus-square red bigger-150"></i>' +
					'</a>' +
					'</div>' +
					'</div>' +
					'</div>' +
					'</div>' +
					'</div>';
			}

		});

	</script>
}