@model Guid
<div class="modal-dialog">
	<!-- widget start -->
	<div class="widget-box widget-color-blue ui-sortable-handle">

		<div class="widget-header">
			<h4 class="widget-title lighter">修改密码</h4>
			<div class="widget-toolbar no-border">
				<a href="#" data-action="close" data-dismiss="modal">
					<i class="ace-icon fa fa-times"></i>
				</a>
			</div>
		</div>

		<div class="widget-body">
			<div class="widget-main">
				<form class="form-horizontal" role="form" id="form">
					<input type="hidden" id="Id" name="Id" value="@Model" />
					@*<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 用户名</label>

						<div class="col-sm-9">
							<input type="text" id="UserName" name="UserName" placeholder="UserName" class="col-xs-10" minlength="5" readonly>
						</div>
					</div>*@
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 旧密码</label>

						<div class="col-sm-9">
							<input type="text" id="OldPassword" name="OldPassword" placeholder="输入旧密码" class="col-xs-10">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 邮箱</label>

						<div class="col-sm-9">
							<input type="text" id="Email" name="Email" placeholder="Email" class="col-xs-10">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 新密码</label>

						<div class="col-sm-9">
							<input type="text" id="NewPassword" name="NewPassword" placeholder="输入新密码" class="col-xs-10">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 确认密码</label>

						<div class="col-sm-9">
							<input type="text" id="ConfirmPassword" name="ConfirmPassword" placeholder="确认新密码" class="col-xs-10">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info btn-submit" type="submit">
								<i class="ace-icon fa fa-check "></i>
								提交
							</button>

							&nbsp; &nbsp; &nbsp;
							<a class="btn btn-cancel" data-action="close" data-dismiss="modal">
								<i class="ace-icon fa fa-close"></i>
								取消
							</a>
						</div>
					</div>
				</form>
			</div>

		</div>

	</div>
	<!-- widget end -->
</div>

<script>
	$(function () {

		var code = checkCode(urls.login);

		ajaxSubmitForm($('#form'),
			{
				code: code,
				dataUrl: urls.changePassword,
				afterSuccess(data) {
					$('#firstModal').modal('hide');
				}
			});

	});

</script>