
<div class="modal-dialog">
	<!-- widget start -->
	<div class="widget-box widget-color-blue ui-sortable-handle">

		<div class="widget-header">
			<h4 class="widget-title lighter">通知通告</h4>
			<div class="widget-toolbar no-border">
				<a href="#" data-action="close" data-dismiss="modal">
					<i class="ace-icon fa fa-times"></i>
				</a>
			</div>
		</div>

		<div class="widget-body">
			<div class="widget-main">
				<div class="widget-box transparent ui-sortable-handle" id="widget-box-12">
					<div class="widget-header">
						<h4 class="widget-title lighter">Transparent Box</h4>

						<div class="widget-toolbar no-border">
							<a href="#" data-action="settings">
								<i class="ace-icon fa fa-cog"></i>
							</a>

							<a href="#" data-action="reload">
								<i class="ace-icon fa fa-refresh"></i>
							</a>

							<a href="#" data-action="collapse">
								<i class="ace-icon fa fa-chevron-up"></i>
							</a>

							<a href="#" data-action="close">
								<i class="ace-icon fa fa-times"></i>
							</a>
						</div>
					</div>

					<div class="widget-body">
						<div class="widget-main padding-6 no-padding-left no-padding-right">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo massa sed ipsum porttitor facilisis. Nullam interdum massa vel nisl fringilla sed viverra erat tincidunt. Phasellus in ipsum velit. Maecenas id erat vel sem convallis blandit. Nunc aliquam enim ut arcu aliquet adipiscing. Fusce dignissim volutpat justo non consectetur.
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	<!-- widget end -->
</div>
<script>
	$(function () {

		

	});
</script>